*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:blue;
}
.whole{
    width:400px;
    height:400px;
    position:relative;
    transform-style: preserve-3d;
    transition:all 1s;
    /* transform:perspective(200px); */
}
.box{
    height:100%;
    width:100%;
    position:absolute;
    backface-visibility:hidden;
    transform-style:preserve-3d;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    padding:10px;
}
.front>p{
    width:350px;
    margin-top:5px;
}

.front{
    background-color:springgreen;
}
.front>h1,img,p{
    transform:translateZ(100px);
    text-align: center;
}
.back>h1,p,h4{
    transform:translateZ(100px);
}
.back>p{
    margin:5px 0px 0px 0px;
}
.back{
    background-color:red;
    transform:rotateY(180deg);
    backface-visibility:hidden;
}
.whole:hover{
        transform:rotateY(180deg);
}